[core]
nick = nssbotprueba
host = irc.libera.chat
use_ssl = false
port = 6667
owner = nss
channels = 
     "#testnico"
	 "#sysarmy"

# Prefijo para matchear a los que vienen de discord o slack
prefix = (\<.*?\>)?(\s)?\.


# plugin openweather
[clima]
api_key=blablabla
